AutoTest/AutoTest/Service References/RemoteServiceReference/ExecuteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExecuteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IExecuteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsam:Addressing>
          <wsp:Policy>
            <wsam:NonAnonymousResponses />
          </wsp:Policy>
        </wsam:Addressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8087/SelService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8087/SelService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8087/SelService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RemoteService.MyService" />
      <xsd:import schemaLocation="http://localhost:8087/SelService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:8087/SelService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExecuteService_ExecuteServiceBeat_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteServiceBeat" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_GetAllRunnerSate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRunnerSate" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_GetAllRunnerSate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRunnerSateResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_StartRunner_InputMessage">
    <wsdl:part name="parameters" element="tns:StartRunner" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_StartRunner_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartRunnerResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_PauseRunner_InputMessage">
    <wsdl:part name="parameters" element="tns:PauseRunner" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_PauseRunner_OutputMessage">
    <wsdl:part name="parameters" element="tns:PauseRunnerResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_StopRunner_InputMessage">
    <wsdl:part name="parameters" element="tns:StopRunner" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_StopRunner_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopRunnerResponse" />
  </wsdl:message>
  <wsdl:message name="IExecuteService_ReportState_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReportState" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IExecuteService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ExecuteServiceBeat">
      <wsdl:input wsam:Action="http://tempuri.org/IExecuteService/ExecuteServiceBeat" message="tns:IExecuteService_ExecuteServiceBeat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllRunnerSate">
      <wsdl:input wsam:Action="http://tempuri.org/IExecuteService/GetAllRunnerSate" message="tns:IExecuteService_GetAllRunnerSate_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IExecuteService/GetAllRunnerSateResponse" message="tns:IExecuteService_GetAllRunnerSate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartRunner">
      <wsdl:input wsam:Action="http://tempuri.org/IExecuteService/StartRunner" message="tns:IExecuteService_StartRunner_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IExecuteService/StartRunnerResponse" message="tns:IExecuteService_StartRunner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PauseRunner">
      <wsdl:input wsam:Action="http://tempuri.org/IExecuteService/PauseRunner" message="tns:IExecuteService_PauseRunner_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IExecuteService/PauseRunnerResponse" message="tns:IExecuteService_PauseRunner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StopRunner">
      <wsdl:input wsam:Action="http://tempuri.org/IExecuteService/StopRunner" message="tns:IExecuteService_StopRunner_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IExecuteService/StopRunnerResponse" message="tns:IExecuteService_StopRunner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportState">
      <wsdl:output wsam:Action="http://tempuri.org/IExecuteService/ReportState" message="tns:IExecuteService_ReportState_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IExecuteService" type="tns:IExecuteService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IExecuteService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteServiceBeat">
      <soap12:operation soapAction="http://tempuri.org/IExecuteService/ExecuteServiceBeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllRunnerSate">
      <soap12:operation soapAction="http://tempuri.org/IExecuteService/GetAllRunnerSate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRunner">
      <soap12:operation soapAction="http://tempuri.org/IExecuteService/StartRunner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PauseRunner">
      <soap12:operation soapAction="http://tempuri.org/IExecuteService/PauseRunner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopRunner">
      <soap12:operation soapAction="http://tempuri.org/IExecuteService/StopRunner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportState">
      <soap12:operation soapAction="http://tempuri.org/IExecuteService/ReportState" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExecuteService">
    <wsdl:port name="WSDualHttpBinding_IExecuteService" binding="tns:WSDualHttpBinding_IExecuteService">
      <soap12:address location="http://localhost:8087/SelService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8087/SelService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>