SelWCFServer/SelWCFClient/Service References/SelServiceReference/SelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/SelService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/SelService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/SelService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SelWCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISelService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="ISelService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="ISelService_SayBye_InputMessage">
    <wsdl:part name="parameters" element="tns:SayBye" />
  </wsdl:message>
  <wsdl:message name="ISelService_WhoIs_InputMessage">
    <wsdl:part name="parameters" element="tns:WhoIs" />
  </wsdl:message>
  <wsdl:message name="ISelService_WhoIs_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhoIsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISelService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsam:Action="http://tempuri.org/ISelService/SayHello" message="tns:ISelService_SayHello_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISelService/SayHelloResponse" message="tns:ISelService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayBye">
      <wsdl:input wsam:Action="http://tempuri.org/ISelService/SayBye" message="tns:ISelService_SayBye_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhoIs">
      <wsdl:input wsam:Action="http://tempuri.org/ISelService/WhoIs" message="tns:ISelService_WhoIs_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISelService/WhoIsResponse" message="tns:ISelService_WhoIs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISelService" type="tns:ISelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/ISelService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayBye">
      <soap:operation soapAction="http://tempuri.org/ISelService/SayBye" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="WhoIs">
      <soap:operation soapAction="http://tempuri.org/ISelService/WhoIs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelService">
    <wsdl:port name="BasicHttpBinding_ISelService" binding="tns:BasicHttpBinding_ISelService">
      <soap:address location="http://localhost:8080/SelService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>