SelWCFServer/SelWCFClient/Service References/SelServiceReference/SelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/SelService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SelWCFServer" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vaule" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayBye">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vaule" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhoIs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SelWCFServer" minOccurs="0" name="myData" nillable="true" type="q1:MyData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhoIsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhoIsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>